<ion-header no-border style="margin-top: 25px;">

    <ion-navbar>
        <ion-title>ตรวจสอบรูปภาพ</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row *ngIf="isFound">
        <ion-col>
            <!-- {{ name }} -->
            <p style="text-align:center">{{name}}</p>
        </ion-col>
    </ion-row>
    <ion-card padding *ngIf="isFound">
        <ion-row>
            <ion-col col-6>
                <img [src]="userImage">
            </ion-col>
            <ion-col col-6>
                <img [src]="missingImage">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8 offset-3>
                ค่าความเข้ากัน {{confidence}} %
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card padding *ngIf="!isFound">
        <ion-row>
            <ion-col col-8 offset-2>
                <img [src]="userImage">
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style="height: 30%">
        <ion-row>
            <p padding>รายละเอียดเพิ่มเติม</p>
        </ion-row>
        <ion-textarea style="padding-left:16px;padding-right:8px" [(ngModel)]="textAreaValue" placeholder="กรุณากรอกรายละเอียดเพิ่มเติม"
            rows="5"></ion-textarea>
    </ion-card>
    <ion-row>
        <ion-col col-6>
            <button ion-button color="secondary" block>แชร์สาธารณะ</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button color="secondary" (tap)="getLocation()" block>สถานที่</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <button ion-button block (click)="backToHome()">กลับหน้าหลัก</button>
    </ion-row>
</ion-content>