<ion-row no-padding style="width: 100%">
  <ion-card>
    <ion-row padding>
      <span>ข้อมูลติดต่อมูลนิธิกระจกเงา</span>
    </ion-row>
    <ion-row style="padding-left: 16px">
      <ion-col col-2>
        <img class="img-size" src="assets/imgs/mobile.png">
      </ion-col>
      <ion-col col-10>
        ติดต่อ Call Center
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 16px">
      <ion-col col-2>
        <img class="img-size" src="assets/imgs/line.png">
      </ion-col>
      <ion-col col-10>
        @helpandhope
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 16px;padding-bottom: 16px">
      <ion-col col-2>
        <img class="img-size" src="assets/imgs/facebook.png">
      </ion-col>
      <ion-col col-10>
        Facebook
        <!-- https://www.facebook.com/Thaimissing -->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-row>