.spinner-dot {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 1.25s infinite linear;
    animation: sk-rotate 1.25s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    border-radius: 100%;

    -webkit-animation: sk-bounce 1.25s infinite ease-in-out;
    animation: sk-bounce 1.25s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -0.65s;
    animation-delay: -0.65s;
}

@-webkit-keyframes sk-rotate { 
    100% { -webkit-transform: rotate(360deg) }
}

@keyframes sk-rotate { 
    100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

ion-backdrop {
    opacity: 0.7 !important;
    background-color: #000c16;
    // -webkit-animation: fadein 0.1s;
    // animation: fadein 0.1s;
}

// @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 0.7; }
// }

// .fadeout-backdrop {
//     opacity: 0 !important;
//     -webkit-animation: fadeout 0.1s;
//     animation: fadeout 0.1s;
// }

// @keyframes fadeout{
//     from { opacity: 0.7; }
//     to   { opacity: 0; }
// }

.loading-wrapper {
    background: transparent !important;
}

.modal-wrapper {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}