ion-card {
    margin-left: 0!important;
    margin-right: 0!important;
    border-radius: 6px!important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)!important;
    border: solid 1px #eee!important;
    width: 100%!important;
}