page-home {
    .img-size {
        height: 24px;
        width: 24px;
    }
    .headder-profile {
        margin: 16px;
        .img-profile {
            display: block;
            float: left;
            border-radius: 50%;
            padding-top: 12px;
            img {
                width: 48px;
                height: 48px;
                display: block;
            }
        }
        .text-profile {
            width: calc(100% - 95px);
            float: left;
            margin-left: 16px;
            color: #0092cb;
            .title-profile {
                display: block;
            }
            .name-profile {
                display: block;
            }
        }
    }
    .center {
        position: absolute;
        top: 40%;
        font-size: 20px;
        padding-left: 10%;
    }
    .swiper-slide img {
        width: 60%;
        max-width: 100%;
        height: 70%;
        max-height: 100%;
    }
    .slide-zoom {
        text-align: center;
        display: block;
        position: relative;
        left: 20%;
        width: 100%;
    }
}