<ion-header no-border style="margin-top: 25px;">
    <ion-navbar>
        <ion-title>รายชื่อคนหาย</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row *ngFor="let date of [listPeople.december, listPeople.november, listPeople.october, listPeople.other];let i = index">
        <ion-list style=" width: 100%;">
            <ion-list-header>
                {{ monthList[i] }}
            </ion-list-header>
            <ion-row *ngFor="let items of date" (click)="goToDetail(items)">
                <ion-item-sliding #item>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="{{ items.image }}">
                        </ion-avatar>
                        <h2>{{ items.name }}</h2>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button (tap)="goTOSearchDetail(i, j)">
                            <ion-icon name="camera"></ion-icon>
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-row>
        </ion-list>
    </ion-row>
</ion-content>